body{
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiX4qWvtpXeAhWhmuAKHaCGCbUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.frebers.com%2Fdownload%2F5-game-backgrounds-free%2F&psig=AOvVaw1qQ91mmB7VNI_WIGars9lv&ust=1540138623082080");
    font-family: arial;
    font-size: 14px;
}